*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: pri-font;
    src: url(fonts/KGEverSinceNewYork.ttf);
}

:root{
    --primary-color: #c4dc5a;
}

/* header */

header{
    background-image: linear-gradient(var(--primary-color), white); 
    overflow: hidden;
    margin: 0 auto;
    padding: 0 60px;
}

.container{
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}       

.logo img{
    width: 180px;
    margin: 0 20px;
}

.sign-up{
    color: white;
    text-decoration: none;
    font-family: pri-font;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 20px;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.sign-up:hover{
    transform: scale(0.9);
}

/* content */

.content{
    display: grid;
    overflow: hidden;
    grid-template-columns: 60% 40%;
    margin: 20px 0
}

.content h2{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    font-family: pri-font;
    padding: 20px 0;
}

.content p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 10px;
    font-size: 16px;
}

.content .col-1{
    margin: 20px;
}

.content .col-2{
    margin: 20px;
    background-color: white;
    border: 4px solid white;
    border-radius: 20px;
    box-shadow: 5px 10px 30px black;
}

.content .col-2 a{
    font-family: pri-font;
    text-decoration: none;
    color: white;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    background-color: var(--primary-color);
    font-size: 14px;
    float: right;
    margin: 20px;
    padding: 5px 10px;
}

.content .col-2 a:hover{
    transform: scale(0.9);
}

/* destinations */

.section-2{
    margin: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    padding: 10px;
    background-color: var(--primary-color);
}

.section-2 h2{
    text-align: center;
    overflow: hidden;
    font-family: pri-font;
    letter-spacing: 5px;
    padding: 10px;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

.destinations{
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(3, 1fr);
}

.destinations h4{
    text-align: center;
    font-family: pri-font;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    letter-spacing: 2px;
    font-size: 20px;
    margin: 10px 0;
}

.destinations img{
    display: inline-block;
    width: 350px;
    height: 250px;
    display: block;
    margin: auto;
    padding: 10px;
}

/* footer */

footer{
    background-color: var(--primary-color);
    overflow: hidden;
}

footer p{
    font-size: 12px;
    padding: 8px;
}

footer hr{ 
    border: 1px solid black;
    border-radius: 20px;
    width: 98%;
    align-items: center;
    margin: auto;
}

.footer-cols{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}

.footer-cols .col-1, .footer-cols .col-2, .footer-cols .col-3{
    padding: 10px;
}

.footer-cols h4{
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    margin-bottom: 10px;
    text-align: center;
}

.footer-cols a{
    color: black;
    text-decoration: none;  
}

.footer-cols a:hover{
    text-decoration: underline;
}

.footer-cols li{
    text-align: center;
    list-style-type: none;
    margin: 2px;
}

/* sign-up */

.section-signup{
    margin: 20px;
}

.signup-block{
    box-shadow: 5px 10px 30px black;
    border: 3px solid var(--primary-color);
    border-radius: 20px;
    background-color: var(--primary-color);
    padding: 20px;
    width: 50%;
    margin: auto;
}

.signup-block h2{
    text-align: center;
    font-family: pri-font;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    padding: 10px;
}

form{
    padding: 20px 20%;
    text-align: right;
}

form input[type="text"], form input[type="email"]{
    font-size: 16px;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 4px;
    margin: 10px 0;
    width: 100%;
    border-bottom: 2px solid black;
}

form [type="submit"]{
    background-color: white;
    border: 2px solid white;
    border-radius: 20px;
    font-family: pri-font;
    font-size: 20px;
    padding: 5px 15px;
    margin: 10px 0;
}

form [type="submit"]:hover{
    transform: scale(0.9);
}

/* media querys */

@media only screen and (max-width: 1114px){
    .content{
        grid-template-columns: repeat(1, 1fr);
    }

    .destinations{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 764px){
    .content{
        grid-template-columns: repeat(1, 1fr);
    }

    .destinations{
        grid-template-columns: repeat(1, 1fr);
    }
}